In [2]:
from pathlib import Path
import pandas as pd
from fuzzywuzzy import process

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
dir_path = Path.cwd()
raw_data_path = Path.joinpath(dir_path, "data", "raw")
interim_data_path = Path.joinpath(dir_path, "data", "interim")
processed_data_path = Path.joinpath(dir_path, "data", "processed")
ext_data_path = Path.joinpath(dir_path, "data", "external")

In [3]:
lgd = pd.read_csv(Path.joinpath(ext_data_path, "lgd_district.csv"))

In [4]:
lgd.drop(["St_Cs2011_code","St_Cs2001_code","Dt_Cs2011_code", "Dt_Cs2001_code"], axis=1, inplace=True)

In [5]:
lgd = lgd.rename(
    columns={
        "State Name(In English)": "state",
        "District Name(In English)": "district",
    }
)

In [6]:
lgd["state_dist"] = ""
for i in range(0, 734):
    lgd["state_dist"][i] = lgd["state"][i].rstrip() + lgd["district"][i]

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
lgd

,St_LGD_code,state,Dt_LGD_code,district,state_dist
0,35,ANDAMAN AND NICOBAR ISLANDS,603,NICOBARS,ANDAMAN AND NICOBAR ISLANDSNICOBARS
1,35,ANDAMAN AND NICOBAR ISLANDS,632,NORTH AND MIDDLE ANDAMAN,ANDAMAN AND NICOBAR ISLANDSNORTH AND MIDDLE AN...
2,35,ANDAMAN AND NICOBAR ISLANDS,602,SOUTH ANDAMANS,ANDAMAN AND NICOBAR ISLANDSSOUTH ANDAMANS
3,28,ANDHRA PRADESH ...,502,ANANTAPUR,ANDHRA PRADESHANANTAPUR
4,28,ANDHRA PRADESH ...,503,CHITTOOR,ANDHRA PRADESHCHITTOOR
...,...,...,...,...,...
729,19,WEST BENGAL ...,319,MURSHIDABAD,WEST BENGALMURSHIDABAD
730,19,WEST BENGAL ...,320,NADIA,WEST BENGALNADIA
731,19,WEST BENGAL ...,704,PASCHIM BARDHAMAN,WEST BENGALPASCHIM BARDHAMAN
732,19,WEST BENGAL ...,306,PURBA BARDHAMAN,WEST BENGALPURBA BARDHAMAN
733,19,WEST BENGAL ...,321,PURULIA,WEST BENGALPURULIA

In [8]:
sheep = pd.read_csv(Path.joinpath(processed_data_path, "sheep.csv"))

In [9]:
sheep.shape

(1260, 6)

In [10]:
for i in range(0, 1260):
    if (sheep['district_name'][i].upper() == 'SORAIDEU'):
        sheep['district_name'][i] = 'CHARAIDEO'
    if (sheep['district_name'][i].upper() == 'SIBSAGAR'):
        sheep['district_name'][i] = 'SIVASAGAR'
    if (sheep['district_name'][i].upper() == 'MEWAT'):
        sheep['district_name'][i] = 'NUH'
    if (sheep['district_name'][i].upper() == 'KARGIL'):
        sheep['state_name'][i] = 'LADAKH'
    if (sheep['district_name'][i].upper() == 'LEH LADAKH'):
        sheep['state_name'][i] = 'LADAKH'
    if (sheep['district_name'][i].upper() == 'DADRA AND NAGAR HAVELI'):
        sheep['state_name'][i] = 'THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU'
    if (sheep['district_name'][i].upper() == 'GULBARGA'):
        sheep['district_name'][i] = 'KALABURAGI'
    if (sheep['district_name'][i].upper() == 'MYSORE'):
        sheep['district_name'][i] = 'MYSURU'
    if (sheep['district_name'][i].upper() == 'BANGALORE RURAL'):
        sheep['district_name'][i] = 'BENGALURU RURAL'
    if (sheep['district_name'][i].upper() == 'SORAIDEU'):
        sheep['district_name'][i] = 'CHARAIDEO'
    if (sheep['district_name'][i].upper() == 'BELGAUM'):
        sheep['district_name'][i] = 'BELAGAVI'
    if (sheep['district_name'][i].upper() == 'BELLARY'):
        sheep['district_name'][i] = 'BALLARI'
    if (sheep['district_name'][i].upper() in 'NAWANSHAHR (SBS NAGAR)'):
        sheep['district_name'][i] = 'SHAHID BHAGAT SINGH NAGAR'
    if (sheep['district_name'][i].upper() == 'MUKTSAR'):
        sheep['district_name'][i] = 'SRI MUKTSAR SAHIB'
    if (sheep['district_name'][i].upper() == 'ALLAHABAD'):
        sheep['district_name'][i] = 'PRAYAGRAJ'
    if (sheep['district_name'][i].upper() == 'SANT RAVIDAS NAGAR'):
        sheep['district_name'][i] = 'BHADOHI'
    if (sheep['district_name'][i].upper() == 'BARDHAMAN'):
        sheep['district_name'][i] = 'PURBA BARDHAMAN'
    if (sheep['district_name'][i].upper() == 'BIJAPUR') and (sheep['state_name'][i].upper() == 'KARNATAKA'):
        sheep['district_name'][i] = 'VIJAYAPURA'

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
sheep["state_name"] = sheep["state_name"].str.upper()
sheep["district_name"] = sheep["district_name"].str.upper()

In [12]:
sheep['state_dist']  = sheep['state_name'] + sheep['district_name']

In [13]:
b1 = pd.merge(
            sheep,
            lgd,
            how="outer",
            left_on="state_dist",
            right_on="state_dist",
            validate="m:1",
            indicator=True,
            suffixes=["_DATA", "_LGD"],
        )

In [14]:
b1['_merge'].value_counts()

both          1181
right_only      96
left_only       79
Name: _merge, dtype: int64

In [15]:
not_lgd_mapped = b1[(b1["_merge"] == "left_only")][
            [
                "state_name",
                "district_name",
                "state_dist",
            ]
        ]

In [16]:
not_lgd_mapped = not_lgd_mapped.drop_duplicates(subset="state_dist")

In [17]:
result = [
            process.extractOne(i, lgd["state_dist"])
            for i in not_lgd_mapped["state_dist"]
        ]
result = pd.DataFrame(result, columns=["match", "score", "id"])
result.drop("id", axis=1, inplace=True)

In [18]:
result

                                              match  score
0         ANDAMAN AND NICOBAR ISLANDSSOUTH ANDAMANS     98
1                                       ASSAMKAMRUP     95
2                                     ASSAMMARIGAON     92
3                      ASSAMSOUTH SALMARA MANCACHAR     90
4                             CHHATTISGARHKABIRDHAM     95
5   THE DADRA AND NAGAR HAVELI AND DAMAN AND DIUDIU     90
6                                  GUJARATMahisagar    100
7                           JAMMU AND KASHMIRBudgam     96
8                          JAMMU AND KASHMIRRAJOURI     96
9                                KARNATAKABAGALKOTE     97
10                         KARNATAKACHAMARAJANAGARA     98
11                         KARNATAKACHIKKABALLAPURA     93
12                          KARNATAKACHIKKAMAGALURU     93
13                        KARNATAKADAKSHINA KANNADA     96
14                              KARNATAKASHIVAMOGGA     91
15                                KARNATAKATUMAKURU     94
16                          KARNATAKAUTTARA KANNADA     95
17                                     MIZORAMSAIHA     92
18                  PUNJABShahid Bhagat Singh Nagar    100
19                                PUNJABS.A.S Nagar    100
20                                 PUNJABTarn Taran    100
21                               TAMIL NADUAriyalur    100
22                                TELANGANAJagitial    100
23                            TELANGANAMAHABUBNAGAR     98
24                                  TELANGANANirmal    100
25                             TELANGANARANGA REDDY     92
26                                    TRIPURADhalai    100
27                                    TRIPURAGomati    100
28                                    TRIPURAKhowai    100
29                             TRIPURANorth Tripura    100
30                                TRIPURASepahijala    100
31                             TRIPURASouth Tripura    100
32                                   TRIPURAUnakoti    100
33                              TRIPURAWest Tripura    100
34                              UTTAR PRADESHAmethi    100
35                           UTTAR PRADESHFIROZABAD     93
36                             UTTAR PRADESHKasganj    100
37                          UTTARAKHANDRUDRA PRAYAG     98
38                      UTTARAKHANDUDAM SINGH NAGAR     98
39                           UTTARAKHANDUTTAR KASHI     98
40                            WEST BENGALAlipurduar    100
41                              WEST BENGALJhargram    100

In [19]:
not_lgd_proxy_df = (
                pd.DataFrame(not_lgd_mapped["state_dist"], index=None)
                .reset_index()
                .drop("index", axis=1)
        )

In [20]:
mapper_df = pd.concat(
            [not_lgd_proxy_df, result],
            axis=1,
            ignore_index=True,
            names=["original", "match", "score"],
        )

In [21]:
mapper_df = mapper_df[mapper_df[2] >= 90]

In [22]:
mapper_dict = dict(zip(mapper_df[0], mapper_df[1]))
sheep["state_dist"] = sheep["state_dist"].replace(mapper_dict)

In [23]:
b1 = pd.merge(
            sheep,
            lgd,
            how="outer",
            left_on="state_dist",
            right_on="state_dist",
            validate="m:1",
            indicator=True,
            suffixes=["_DATA", "_LGD"],
        )

In [24]:
b1["_merge"].value_counts()

both          1260
right_only      56
left_only        0
Name: _merge, dtype: int64

In [25]:
not_lgd_mapped = b1[(b1["_merge"] == "left_only")][
            [
                "state_name",
                "district_name",
                "state_dist",
            ]
        ]
not_lgd_mapped = not_lgd_mapped.drop_duplicates(subset="state_dist")

In [26]:
len(not_lgd_mapped)

0

In [27]:
result = [
            process.extractOne(i, lgd["state_dist"])
            for i in not_lgd_mapped["state_dist"]
        ]
result = pd.DataFrame(result, columns=["match", "score", "id"])
result.drop("id", axis=1, inplace=True)

In [28]:
not_lgd_proxy_df = (
                pd.DataFrame(not_lgd_mapped["state_dist"], index=None)
                .reset_index()
                .drop("index", axis=1)
        )

In [29]:
mapper_df = pd.concat(
            [not_lgd_proxy_df, result],
            axis=1,
            ignore_index=True,
            names=["original", "match", "score"],
        )

In [30]:
mapper_df = mapper_df[mapper_df[2] >= 90]

In [31]:
mapper_dict = dict(zip(mapper_df[0], mapper_df[1]))
sheep["state_dist"] = sheep["state_dist"].replace(mapper_dict)

In [32]:
b1 = pd.merge(
            sheep,
            lgd,
            how="outer",
            left_on="state_dist",
            right_on="state_dist",
            validate="m:1",
            indicator=True,
            suffixes=["_DATA", "_LGD"],
        )

In [33]:
b1["_merge"].value_counts()

both          1260
right_only      56
left_only        0
Name: _merge, dtype: int64

In [34]:
not_lgd_mapped = b1[(b1["_merge"] == "left_only")][
            [
                "state_name",
                "district_name",
                "state_dist",
            ]
        ]
not_lgd_mapped = not_lgd_mapped.drop_duplicates(subset="state_dist")

In [35]:
len(not_lgd_mapped)

0

In [36]:
not_lgd_mapped.to_csv("sheep_unmapped.csv")

In [50]:
df = b1[b1['_merge']=='both']

In [51]:
df = df.drop(['_merge','state', 'district'], axis = 1)

In [52]:
df.columns.to_list()

['state_name',
 'district_name',
 'breed_type_name',
 'upto_one_year',
 'one_year_and_above',
 'total',
 'state_dist',
 'St_LGD_code',
 'Dt_LGD_code']

In [53]:
l = ['state_name',
 'district_name',
 'state_dist',
 'St_LGD_code',
 'Dt_LGD_code',
 'breed_type_name',
 'upto_one_year',
 'one_year_and_above',
 'total']

In [54]:
df = df[l]

In [55]:
df.to_csv(Path.joinpath(processed_data_path, "sheep_lgd.csv"), index=False)

In [56]:
df

,state_name,district_name,state_dist,St_LGD_code,Dt_LGD_code,breed_type_name,upto_one_year,one_year_and_above,total
0,ANDAMAN AND NICOBAR ISLAN,SOUTH ANDAMANS,ANDAMAN AND NICOBAR ISLANDSSOUTH ANDAMANS,35,602,Indigenous(Desi),2.0,3.0,5.0
1,ANDHRA PRADESH,ANANTAPUR,ANDHRA PRADESHANANTAPUR,28,502,Exotic,98698.0,172440.0,271138.0
2,ANDHRA PRADESH,ANANTAPUR,ANDHRA PRADESHANANTAPUR,28,502,Indigenous(Desi),1505184.0,3150265.0,4655449.0
3,ANDHRA PRADESH,CHITTOOR,ANDHRA PRADESHCHITTOOR,28,503,Exotic,68114.0,109493.0,177607.0
4,ANDHRA PRADESH,CHITTOOR,ANDHRA PRADESHCHITTOOR,28,503,Indigenous(Desi),514248.0,1004843.0,1519091.0
...,...,...,...,...,...,...,...,...,...
1255,WEST BENGAL,NADIA,WEST BENGALNADIA,19,320,Indigenous(Desi),10026.0,11350.0,21376.0
1256,WEST BENGAL,PASCHIM BARDHAMAN,WEST BENGALPASCHIM BARDHAMAN,19,704,Exotic,9.0,11.0,20.0
1257,WEST BENGAL,PASCHIM BARDHAMAN,WEST BENGALPASCHIM BARDHAMAN,19,704,Indigenous(Desi),2975.0,3503.0,6478.0
1258,WEST BENGAL,PURULIA,WEST BENGALPURULIA,19,321,Exotic,1250.0,768.0,2018.0
1259,WEST BENGAL,PURULIA,WEST BENGALPURULIA,19,321,Indigenous(Desi),74251.0,110656.0,184907.0

In [46]:
sheep.shape

(1260, 7)

In [4]:
sheep = pd.read_csv(Path.joinpath(processed_data_path, "sheep_lgd.csv"))

In [6]:
sheep.drop(['state_dist'], axis = 1, inplace = True)

In [7]:
sheep.rename(columns={'St_LGD_code':'state_lgd_code', 'Dt_LGD_code':'district_lgd_code'}, inplace = True)

In [8]:
sheep.to_csv(Path.joinpath(processed_data_path, "sheep_lgd.csv"), index=False)